
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

<!--模糊搜索区域-->
<div class="layui-row">
    <form class="layui-form layui-col-md12 ok-search">
        <div class="layui-input-inline">
            <input class="layui-input" placeholder="请输入机构名称" name="Account" autocomplete="off">
        </div>
        @Html.SearchBtnHtml("查询")
        @Html.ResetBtnHtml()
    </form>
</div>
<!--数据表格-->
<table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
<script>
    layui.use(["treeGrid", "form", "okLayer", "okUtils"], function () {
        let treeGrid = layui.treeGrid;
        let form = layui.form;
        let okLayer = layui.okLayer;
        let okUtils = layui.okUtils;

        let AllTable = treeGrid.render({
            elem: "#tableId",
            url: "/Permissions/Organize/List",
            page: false,
            toolbar: "#toolbarTpl",
            size: "sm",
            treeId: 'Id',   //树形id字段名称
            treeUpId: 'ParentId',   //树形父id字段名称
            treeShowName: 'FullName',   //以树形式显示的字段
            cols: [[
                { type: "checkbox" },
                { field: "Id", title: "ID", width: 80, sort: true },
                { field: "FullName", title: "机构名称", width: 120 },
                { field: "EnCode", title: "机构编码", width: 120 },
                { field: "CategoryName", title: "分类", width: 80, templet: "#genderTpl" },
                { field: "ManagerName", title: "负责人", width: 120 },
                { field: "SortCode", title: "排序码", width: 120 },
                { field: "TelePhone", title: "电话", width: 120 },
                { field: "MobilePhone", title: "手机", width: 120 },
                { field: "WeChat", title: "微信", width: 120 },
                { field: "Fax", title: "传真", width: 120 },
                { field: "Email", title: "邮箱", width: 120 },
                { field: "Address", title: "联系地址", width: 120 },
                { field: "Description", title: "描述", width: 120 },
                { field: "EnabledMark", title: "状态", width: 80, templet: "#enabledMarkTpl" },
                { field: "CreateTime", title: "创建时间", width: 150, templet: '<span>{{showDate(d.CreateTime)}}<span>' },
                { title: "操作", width: 230, align: "center", fixed: "right", templet: "#operationTpl"}
            ]],
            done: function (res, curr, count) {
                console.log(res, curr, count);
            }
        });

        form.on("submit(search)", function (data) {
            AllTable.reload({
                where: data.field,
                page: { curr: 1 }
            });
            return false;
        });

        table.on("toolbar(tableFilter)", function (obj) {
            switch (obj.event) {
                case "add":
                    add();
                    break;
            }
        });

        table.on("tool(tableFilter)", function (obj) {
            let data = obj.data;
            switch (obj.event) {
                case "edit":
                    edit(data.Id);//field Id 和 数据库表字段 Id 要一致
                    break;
                case "del":
                    del(data.Id);
                    break;
            }
        });

        function add() {
            okLayer.open("添加机构", "/Permissions/Organize/Add", "100%", "100%", null, null);
        }

        function edit(id) {
            okLayer.open("编辑机构", "/Permissions/Organize/Edit/" + id, "100%", "100%", null, null);
        }

        function del(id) {
            okLayer.confirm("确定要删除吗？", function () {
                okUtils.ajax("/Permissions/Organize/Delete", "get", { id: id }, true).done(function (response) {
                    okUtils.tableSuccessMsg(response.message);
                }).fail(function (error) {
                    console.log(error)
                });
            })
        }

    })
</script>
<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">
    @Html.TopToolBarHtml(ViewData["TopButtonList"])
</script>
<!-- 行工具栏模板 -->
<script type="text/html" id="operationTpl">
    @Html.RightToolBarHtml(ViewData["RightButtonList"])
</script>
<!-- 启用|停用模板 -->
<script type="text/html" id="enabledMarkTpl">
    {{#  if(!d.EnabledMark){ }}
    <span class="layui-btn layui-btn-normal layui-btn-xs">已启用</span>
    {{#  } else{ }}
    <span class="layui-btn layui-btn-warm layui-btn-xs">已停用</span>
    {{#  } }}
</script>

