[v-cloak]{
    display: none!important;
}

/**占满屏幕**/
.page-fill{
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

/**card**/
.ok-card-body{
    padding: 20px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.ok-card-body-tb{
    padding: 20px 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.ok-card{
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.08);
    box-shadow: 0 0 20px rgba(0,0,0,.08);
    border-radius: 5px;
}

/**断行**/
.wp1{ word-break:break-all; }/*只对英文起作用，以字母作为换行依据*/
.wp2{ word-wrap:break-word; }/*--只对英文起作用，以单词作为换行依据*/
.wp3{white-space:pre-wrap; }/*只对中文起作用，强制换行*/
.wp4{white-space:nowrap; }/*强制不换行，都起作用*/

/**边距**/
.p0{
    padding: 0!important;
}
.ptb0{
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.plr0{
    padding-left: 0!important;
    padding-right: 0!important;
}
.ptb20{
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}
.plr20{
    padding-left: 20px!important;
    padding-right: 20px!important;
}
.pl20{
    padding-left: 20px!important;
}
.pr20{
    padding-right: 20px!important;
}

/**浮动**/
.f-left{
    float: left;
}
.f-right{
    float: right;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

/**卡片样式**/
.my-cart{
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.08);
    box-shadow: 0 0 20px rgba(0,0,0,.08);
    border-radius: 5px;
}

/**颜色**/
.bg-white{
    background: white!important;
}
.col-white{
    color: white!important;
}
.childrenBody {
    padding: 15px;
    background-color: #f1f2f7;
}
.ok-card-list{
    padding: 15px;
}
.ok-card-list .ok-big-font{
    font-size: 36px;
    color: #666;
    line-height: 36px;
    padding: 5px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}


/*********************美化滚动条样式*********************/

.not-scroll::-webkit-scrollbar{ /*不显示滚动条*/
    height: 0;
    width: 0;
    background: transparent;
    display: none;
}
.scrollBody::-webkit-scrollbar{/*不显示滚动条*/
    display: none;
}

::-webkit-scrollbar,
.scrollBody::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track,
.scrollBody::-webkit-scrollbar-track {
    /*border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #FFFFFF;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb,
.scrollBody::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #A8A8A8;
}

/**内页body滚动条样式**/
::-webkit-scrollbar,
.ok-body-scroll::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background-color: #FFFFFF;
}
::-webkit-scrollbar-track,
.ok-body-scroll::-webkit-scrollbar-track{/*定义滚动条轨道 内阴影+圆角*/
    /*border-radius: 10px;*/
    background-color: #FFFFFF;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb,
.ok-body-scroll::-webkit-scrollbar-thumb{/*定义滑块 内阴影+圆角*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #dadada;
}


/*进度条颜色*/
.per-bg-a{
    background:#00c292 !important;
}
.per-bg-b{
    background:#ab8ce4 !important;
}
.per-bg-c{
    background: #03a9f3 !important;
}
.per-bg-d{
    background:#fb9678 !important;
}


/*减去220是左侧的菜单宽度为220*/

@media screen and (max-width: 750px) {/*当屏幕宽度小于970-220时执行*/
    .ok-in-hide-md{
        display: none!important;
    }
}

@media screen and (max-width: 548px) {/*当屏幕宽度小于768-220时执行*/
    [ok-pc-in-show],
    .ok-in-hide-xs {
        display: none !important;
    }
}


















