@import "./common.css";
@import "../lib/layui/css/layui.css";

.yskj-card-body{
    padding: 20px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.yskj-card-body-tb{
    padding: 20px 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.home .layui-card{
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.08);
    box-shadow: 0 0 20px rgba(0,0,0,.08);
    border-radius: 5px;
}
.cart-data .stat-text{
    color: #455a64;
    font-size: 24px;
    padding-bottom: 5px;
}
.cart-data .stat-heading{
    color: #99abb4;
}
.cart-data .img-box{
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
}
.cart-data .img-box img{
    width: 60px;
}
.cart-data .cart-r{
    display: inline-block;
    vertical-align: middle;
}

.my-card-title{
    color:#212529;
    font-size: 16px;
    padding-bottom: 20px;
    font-weight: bolder;
}

/**图表样式**/
.map-body{
    height: 360px;
}
.map-china{
    height: 360px;
}
/***进度条***/
.progress-box {
    margin-bottom: 20px;
    display: flex;
}
.progress-box .por-title {
    font-weight: 600;
    color: #868e96;
    padding-bottom: 5px;
}
.progress-box .por-txt {
    font-size: 13px;
    padding-bottom: 5px;
}
.progress-box .pro-head{
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
    float: left;
    overflow: hidden;
    padding-right: 20px;
}
.progress-box .pro-head img{
    background: #BEA8AB;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.progress-box .pro-data{
    display: inline-block;
    vertical-align: middle;
    flex: 1;
    /*float: left;*/
    /*width: 70%;*/
}

/**日历**/
#calendar .layui-laydate{
    border-radius: 5px;
    border:0;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.08);
    box-shadow: 0 0 20px rgba(0,0,0,.08);
}

/************home2样式************/
.data-body {
    display: flex;
    padding:20px;
    padding-bottom: 0;
    color:#333333;
}
.data-body .media-cont {
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.data-body .media-cont .tit{
    font-size: 16px;
    padding-bottom:5px;
}
.data-body .media-cont .num{
    font-size: 24px;
    line-height: 22px;
}
.data-body .w-img{
    width: 60px;
    height: 60px;
}
.data-body .w-img img{
    width: 100%;
    height: 100%;
}
.line-home-a{
    height: 60px;
}

.cart-data .stat-text {
    color: #455a64;
    font-size: 24px;
    padding-bottom: 5px;
}
.extra-small-font {
    font-size: 12px;
}

.cart-data .stat-heading {
    color: #99abb4;
}

.cart-data .img-box {
    display: inline-block;
    vertical-align: middle;
}

.cart-data .img-box img {
    width: 60px;
}

.cart-data .cart-r {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}

.my-card-title {
    color: #212529;
    font-size: 16px;
    padding-bottom: 20px;
    font-weight: bolder;
}
