
@{
    ViewBag.Title = "Assign";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

<style type="text/css">
    .div-collapse {
        float: left;
        height: 18px;
        line-height: 18px;
        padding-left: 5px;
    }
</style>
<!--数据表格-->
<table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
<script>
    layui.use(["treeGrid", "form"], function () {
        let treeGrid = layui.treeGrid;
        let form = layui.form;
        let $ = layui.$;

        treeGrid.render({
            elem: "#tableId",
            url: "/Permissions/Module/ModuleButtonList?roleId=@ViewBag.RoleId",
            page: false,
            toolbar: "#toolbarTpl",
            size: "sm",
            cellMinWidth: 100,
            treeId: 'Id',   //树形id字段名称
            treeUpId: 'ParentId',   //树形父id字段名称
            treeShowName: 'FullName',   //以树形式显示的字段
            cols: [[
                { field: "Id", title: "ID", width: 80, sort: true },
                { field: "FullName", title: "菜单名称", width: 200 ,type:'checkbox_txt' },
                { field: "ModuleButtonHtml", title: "按钮权限" },
                { field: "Icon", title: "菜单图标", width: 150, templet: '<span>{{showIcon(d.Icon)}}<span>' },
                { field: "SortCode", title: "排序码", width: 120 },
                { title: "操作", width: 180, align: "center", templet: "#operationTpl"}
            ]]
        });

        //折叠展开
        $("#btnFold").on('click', function () {
            $(".div-collapse.root .layui-tree-head").click();
        });

        //保存设置 差这里没做，做好还做一个清除冗余菜单按钮权限的按钮
        $("#btnSave").on('click', function () {
            console.log("保存设置");
        });

        treeGrid.on("tool(tableFilter)", function (obj) {
            let data = obj.data;
            if (obj.event === 'selectAll') {  //全选
                $("input[name='cbx_" + data.Id + "']").prop("checked", true);
            } else if (obj.event === 'cancleSelectAll') {//反选
                $("input[name='cbx_" + data.Id + "']").prop("checked", false);
            }
            form.render('checkbox');
        });

    })
</script>
<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">
    <button class='layui-btn layui-btn-sm' id='btnFold'><i class='ok-icon'>&#xe6d9;</i>全部折叠/展开</button>
    <button class='layui-btn layui-btn-sm' id='btnSave'><i class='ok-icon'>&#xe68a;</i>保存设置</button>
</script>
<!-- 行工具栏模板 -->
<script type="text/html" id="operationTpl">
    {{# if(d.ModuleButtonHtml!=""){}}
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="selectAll">全选</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="cancleSelectAll">反选</a>
    {{# } }}
</script>

